---
layout: default
---

<h2 class="collection-name">Docs</h2>
<ul>
  {% for page in site.doc reversed %}
  <li class="item-doc">
    <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
  </li>
  {% endfor %}
</ul>

<h2 class="collection-name">CVs</h2>
<ul>
  {% for page in site.cv reversed %}
  <li class="item-cv">
    <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
  </li>
  {% endfor %}
</ul>

<h2 class="collection-name">Business Cards</h2>
<ul>
  {% for page in site.bcard reversed %}
  <li class="item-bcard">
    <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
  </li>
  {% endfor %}
</ul>
